{
	email {$CADDY_EMAIL}
}

planka.{$DOMAIN} {
	# 1) Match requests for /assets/cover-<hash>.jpg
    @cover path_regexp cover ^/assets/cover-[A-Za-z0-9-]+\.jpg$

	# 2) When matched, rewrite to our local file and serve it directly
	handle @cover {
		root * /
		rewrite * /customisation/cover.jpg
		file_server
	}

	# 3) Other requests go to Planka
	reverse_proxy planka:1337
}